*{
    padding: 0; margin: 0;
    box-sizing: border-box;
}

footer p{
    text-align: center;
    font-size: 1rem;
}

.nav-pills li a:hover{
    background-color: rgb(68, 68, 185);
}

.sidebar .nav{
    padding: 0 !important;
}
